<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126495105708-75akhjo1aqs9dsg6r2ncdgjf0koatt0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126495105708-75akhjo1aqs9dsg6r2ncdgjf0koatt0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126495105708-2vea3n70gprjo64372d1mueheu4ad0r4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGwZx3zT9BlLezWyGWHUGLDJyL1O_UJyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>126495105708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmall.XiaoMiFeng</string>
	<key>PROJECT_ID</key>
	<string>smallbee-f22cc</string>
	<key>STORAGE_BUCKET</key>
	<string>smallbee-f22cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126495105708:ios:0513e584c8211f795b3509</string>
	<key>DATABASE_URL</key>
	<string>https://smallbee-f22cc.firebaseio.com</string>
</dict>
</plist>